<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pochota S.A.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">🐶 Pochita S.A.</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'lista_citas' %}">📅 Agenda Médica</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-warning fw-bold" href="{% url 'mis_notificaciones' %}">
                                🔔 Avisos
                            </a>
                        </li>

                        <li class="nav-item">
                            <span class="nav-link text-white ms-2 border-start ps-3">Hola, {{ user.first_name }}</span>
                        </li>
                        
                        <li class="nav-item">
                            <form action="{% url 'logout' %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm mt-1 ms-2">Salir</button>
                            </form>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'registro' %}">Registrarse</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>